.color-0 {
    color: #d2691e;
}

.color-1 {
    color: #954535;
}

.color-2 {
    color: #336;
}

.color-3 {
    color: #ff8c00;
}

.color-4 {
    color: #e52b50;
}

.color-5 {
    color: #7fff00;
}

.color-6 {
    color: #08e8de;
}

.color-7 {
    color: #007ba7;
}

.color-8 {
    color: #8fbc8f;
}

.color-9 {
    color: #188bc2;
}

.color-10 {
    color: #21abcd;
}

.color-11 {
    color: #c00;
}

.color-12 {
    color: #fbcce7;
}

.color-13 {
    color: #00b7eb;
}

.color-14 {
    color: #ec3b83;
}

.color-15 {
    color: #d1bea8;
}

.color-16 {
    color: #c2b280;
}

.color-17 {
    color: #014421;
}

.color-18 {
    color: #e75480;
}

.color-19 {
    color: #fd3f92;
}

.color-20 {
    color: #0070ff;
}

.color-21 {
    color: #dc143c;
}

.color-22 {
    color: #843f5b;
}

.color-23 {
    color: #e4717a;
}

.color-24 {
    color: #5d3954;
}

.color-25 {
    color: #6f4e37;
}

.color-26 {
    color: #da3287;
}

.color-27 {
    color: #ff2800;
}

.color-28 {
    color: #cc397b;
}

.color-29 {
    color: #a9203e;
}

.color-30 {
    color: #c19a6b;
}

.color-31 {
    color: #1b4d3e;
}

.color-32 {
    color: #232b2b;
}

.color-33 {
    color: #007aa5;
}

.color-34 {
    color: #a4c639;
}

.color-35 {
    color: #88654e;
}

.color-36 {
    color: #702963;
}

.color-37 {
    color: #0ff;
}

.color-38 {
    color: #5d8aa8;
}

.color-39 {
    color: #177245;
}

.color-40 {
    color: #918151;
}

.color-41 {
    color: #703642;
}

.color-42 {
    color: #5072a7;
}

.color-43 {
    color: #4e82b4;
}

.color-44 {
    color: #bcd4e6;
}

.color-45 {
    color: #543d37;
}

.color-46 {
    color: #ffc1cc;
}

.color-47 {
    color: #00f;
}

.color-48 {
    color: #228b22;
}

.color-49 {
    color: #ffd300;
}

.color-50 {
    color: #4a646c;
}
